/******************************************************************/
/*General styles*/
/******************************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #F8F6FF;
}
html{
    font-size: 62.5%;
}
.container{
    max-width: 150rem;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}
.mb{
    margin-bottom: 5rem;
}
/******************************************************************/
/*Header styles*/
/******************************************************************/
.section-header{
    position: relative;
}
.section-header::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("images/bg-shadow.svg");
    background-repeat: no-repeat;
    z-index: -1;
}

.nav-link:link,
.nav-link:visited{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    color: #1B1B1B;
}
.nav-link:active,
.nav-link:hover{
    color: #2c2b2b;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 3.2rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-btn{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-image: linear-gradient(180deg, #3B4BB1 0%, #2D2F4E 100%);
    padding: 1.5rem 2.5rem;
    border-radius: 2rem;
    transition: 0.5s;
}

/******************************************************************/
/*Content styles*/
/******************************************************************/
.content{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);

}

.content-text{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.content-stars{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.content-stars p{
    font-size: 1.6rem;
    color: #2D2F4E;
}
.content-heading{
    font-size: 4rem;
    font-weight: 900;
    color: #2D2F4E;
}
.content-paragraph-1{
    font-size: 1.8rem;
    color: #686868;
}
.content-paragraph-2{
    font-size: 1.8rem;
    color: #686868;
    margin-top: 10px;
}
.slider{
    padding: 3rem;
    background-color: #fff;
    border-radius: 2rem;
}
.slider.active{
    border: 2px solid  #3B4BB1;
    box-shadow: 0 5px 53px #2D2F4E;
}
.content-slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    overflow-x: visible;
}
/******************************************************************/
/*Service styles*/
/******************************************************************/

.wrapper-cards{
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #3B4BB1 0%, #2D2F4E 100%);
    padding: 4rem 3rem 5rem;
    border-radius: 20px;

}
.wrapper-card{
    background-color: #fff;
    padding: 2rem 4rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    flex-basis: 100% !important;
}

.wrapper-heading{
    position: relative;
    margin-right: 2rem;
}
.wrapper-heading-text{
    font-size: 4rem;
    color: #fff;
}
.wrapper-heading-text::before{
    content: '';
    position: absolute;
    top: 18rem;
    right: -20rem;
    width: 100%;
    height: 100%;
    background-image: url("images/arrow-1.svg");
    background-repeat: no-repeat;
}
.wrapper-card-text-1{
    font-size: 1.8rem;
    font-weight: bold;
    color: #292929;
    font-family: 'Poppins', sans-serif;

}
.wrapper-card-text-2{
    font-size: 1.5rem;
    color: #686868;
    font-family: 'Poppins', sans-serif;
}
/******************************************************************/
/*Footer styles*/
/******************************************************************/
.footer{
    display: flex;
    justify-content: space-between;
}
.ft-link{
    color: #686868;
}
.ft-text{
    font-weight: bold;
}
/******************************************************************/
/*Footer styles*/
/******************************************************************/

/******************************************************************/
/*How section styles*/
/******************************************************************/

.section-how .container{
   text-align: center;
    position: relative;
    margin-bottom: 10rem;
}
.how-text{
    font-size: 4.8rem;
    color: #2D2F4E;
    position: relative;
}
.how-text:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("text-stars.svg") no-repeat center;
}
.how-small-text{
    font-size: 1.8rem;
    color: #686868;
    width: 90rem;
    display: inline-block;
    position: relative;
}
.section-how .container img{
    position: absolute;
    top: 90%;
    left: 10%;
}

/******************************************************************/
/*How section styles*/
/******************************************************************/


/******************************************************************/
/*Testimonials section styles*/
/******************************************************************/

.shadow-bg{
    position: relative;
}
.shadow{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -11;
}
.shadow-right{
    position: absolute;
    top: 30%;
    right: 0;
    z-index: -11;
}
.arrow{
    position: absolute;
    bottom: -30%;
    right: 20%;
}
.section-testimonials .container h2{
    font-size: 4.8rem;
    color: #2D2F4E;
    text-align: center;
}
.testimonials-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;

}
.testimonials-card{
    background-color: #fff;
    border: 1px solid #B1B1B1;
    border-radius: 3rem;
    padding: 5rem 2rem;
    width: 33%;
}

.testimonials-big-text{
    font-size: 1.8rem;
    font-weight: bold;
    color: #292929;
    margin-top: 3.2rem;
}
.testimonials-sm-text{
    font-size: 1.8rem;
    color: #686868;
    margin-top: 1rem;
}


/******************************************************************/
/*Testimonials section styles*/
/******************************************************************/


/******************************************************************/
/*Catalog section styles*/
/******************************************************************/
.section-catalog .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.catalog-sm-text{
    color: #6E7EC5;
    font-size: 2rem;
    margin-bottom: 1.6rem;
}
.catalog-bg-text{
    color: #292929;
    font-size: 4.8rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}
.catalog-md-text{
    color: #686868;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
.catalog-btn{
    font-size: 1.6rem;
    color: #fff;
    background: linear-gradient(180deg, #3B4BB1 0%, #2D2F4E 100%);
    border-radius: 20px;
    padding: 1.5rem 5rem;
}
/******************************************************************/
/*Catalog section styles*/
/******************************************************************/


/******************************************************************/
/*Partners section styles*/
/******************************************************************/

.partners-text{
    text-align: center;
    font-size: 4.8rem;
    color: #2D2F4E;
    margin-bottom: 3rem;
}


/******************************************************************/
/*Partners section styles*/
/******************************************************************/

